.wrap {
	margin: 0 auto;
	padding: 15px;
	width: 850px;
	height: 300px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.box {
	width: 25%;
	height: 200px;
	border-radius: 8px;
	background: #4682b4;
	transition-duration: 1s;

/* 	Função das Transições*/
	/* //transition-timing-function: linear; */
/* 	transition-timing-function: ease-in;	 */
/* 	transition-timing-function: ease-out; */
/* 	transition-timing-function: ease-in-out;*/
/* 	transition-timing-function: steps(4,end);*/

/* Cubic Bezier*/
/* 	transition-timing-function: cubic-bezier(.5,-.5,.3,1.3), ease;
transition-property: 1s, .6s;
transition-delay: 0s, 1s; */

/* 	Uma declaração*/

	transition: margin 1s cubic-bezier(.5,-.5,.3,1.3) 0s, background .6s ease 1s;
 }

.wrap:hover .box {
	background: #f08080;
	margin-left: 75%;
}